@* @model Tuple<List<TourTravel.Models.User>, int, int>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Item1)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <button class="btn btn-sm btn-primary editUserBtn" data-id="@user.Id">Edit</button>
                    <button class="btn btn-sm btn-danger deleteUserBtn" data-id="@user.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @{
            var totalPages = (int)Math.Ceiling((double)ViewBag.Total / Model.Item3);
            for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == Model.Item2 ? "active" : "")">
                    <a class="page-link pageBtn" href="#" data-page="@i">@i</a>
                </li>
            }
        }
    </ul>
</nav>
 *@
