@* @model IEnumerable<TourTravel.Models.TourGuide>

<div class="row">
    @foreach (var guide in Model)
    {
        <div class="col-md-6 col-lg-3">
            <div class="team-item">
                <img src="@guide.ImageUrl" alt="@guide.Name" />
                <div class="team-content">
                    <div class="team-social">
                        @if (!string.IsNullOrEmpty(guide.Facebook))
                        {
                            <a href="@guide.Facebook"><i class="fab fa-facebook-f"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(guide.Twitter))
                        {
                            <a href="@guide.Twitter"><i class="fab fa-twitter"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(guide.Instagram))
                        {
                            <a href="@guide.Instagram"><i class="fab fa-instagram"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(guide.LinkedIn))
                        {
                            <a href="@guide.LinkedIn"><i class="fab fa-linkedin"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(guide.YouTube))
                        {
                            <a href="@guide.YouTube"><i class="fab fa-youtube"></i></a>
                        }
                    </div>
                    <div class="team-bio">
                        <a href="#">@guide.Name</a>
                        <p>@guide.Role</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div> *@

@{
    bool showHeading = ViewData["ShowHeading"] as bool? ?? true;
}

<div class="guide-area py-120">
    <div class="container">
        <div class="row">
            @if (showHeading)
            {
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Tour Guides</span>
                        <h2 class="site-title">Meet Our Tour Guides</h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="team-item active">
                    <img src="~/assets/img/team/team-1.jpg" alt="thumb">
                    <div class="team-content">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-bio">
                            <a href="#">Malissa Fierro</a>
                            <p>Tour Guide</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="team-item">
                    <img src="~/assets/img/team/team-2.jpg" alt="thumb">
                    <div class="team-content">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-bio">
                            <a href="#">Florence Long</a>
                            <p>Tour Guide</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="team-item active">
                    <img src="~/assets/img/team/team-3.jpg" alt="thumb">
                    <div class="team-content">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-bio">
                            <a href="#">Melvin Castillo</a>
                            <p>Tour Guide</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="team-item">
                    <img src="~/assets/img/team/team-4.jpg" alt="thumb">
                    <div class="team-content">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-bio">
                            <a href="#">John Welsh</a>
                            <p>Tour Guide</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
