@model TourTravel.ViewModel.TestimonialViewModel

@{
    bool showHeading = ViewData["showHeading"] as bool? ?? true;
}

<div class="testimonial-area py-120">
    <div class="container">
        <div class="row">
            @if (Model.ShowHeading)
            {
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Testimonials</span>
                        <h2 class="site-title">What Client Say's</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="testimonial-slider owl-carousel owl-theme">
            @foreach (var item in Model.Testimonials)
            {
                <div class="testimonial-single">
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                        <div class="testimonial-rate">
                            @for (int i = 0; i < item.Rating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                        </div>
                        <p>@Html.Raw(@item.Quote)</p>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src=@item.ImageUrl alt="@item.AuthorName" style="width:65px; height:65px; object-fit:cover; border-radius:50%;" />
                        </div>
                        <div class="testimonial-author-info">
                            <h4>@item.AuthorName</h4>
                            <p>@item.Role</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

