@model List<TourTravel.Models.Gallery>
@await Component.InvokeAsync("HeroSection")
<!-- gallery area -->
<div class="gallery-area py-120">
    <div class="container">
        <div class="row popup-gallery" data-masonry='{"percentPosition": true }'>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="gallery-item">
                        <img src=@item.ImageUrl alt="">
                        <a class="popup-img" ><i class="far fa-plus"></i></a>
                    </div>
                </div>
            }        
        </div>
        <div class="text-center mt-5">
            @* <a href="#" class="theme-btn">Load More <i class="far fa-sync"></i></a> *@
            @if (ViewBag.TotalPages > 1)    
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
                            <a class="page-link"
                               href="@Url.Action("Gallery", "Pages", new { currentPage = ViewBag.CurrentPage - 1 })">Previous</a>
                        </li>

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                <a class="page-link"
                                   href="@Url.Action("Gallery", "Pages", new { currentPage = i })">
                                    @i
                                </a>
                            </li>
                        }

                        <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
                            <a class="page-link"
                               href="@Url.Action("Gallery", "Pages", new { currentPage = ViewBag.CurrentPage + 1 })">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
<!-- gallery area end -->