@model TourTravel.ViewModel.TourGuideDetail
@await Component.InvokeAsync("HeroSection")
<!-- team single -->
<div class="team-single pt-120 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="team-single-img">
                    <img src="~/assets/img/team/single.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="team-details">
                    <h3>@Model.TourGuide.Name</h3>
                    <p class="mb-3 team-tagline"><strong>@Model.TourGuide.Role</strong></p>
                    <p>@Model.TourGuide.Introduction</p>
                    <div class="team-details-info">
                        <ul>
                            <li><a href="#"><i class="far fa-envelope"></i> @Model.TourGuide.Email</a></li>
                            <li><a href="#"><i class="far fa-phone"></i> @Model.TourGuide.Phone</a></li>
                        </ul>
                    </div>
                    <div class="team-details-social">
                        @if (!string.IsNullOrEmpty(@Model.TourGuide.Facebook))
                        {
                            <a href="@Model.TourGuide.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(@Model.TourGuide.Twitter))
                        {
                            <a href="@Model.TourGuide.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(@Model.TourGuide.Instagram))
                        {
                            <a href="@Model.TourGuide.Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(@Model.TourGuide.LinkedIn))
                        {
                            <a href="@Model.TourGuide.LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(@Model.TourGuide.YouTube))
                        {
                            <a href="@Model.TourGuide.YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team single end -->
<!-- biography & skill -->
<div class="biography-skill pb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-3">
                <div class="biography">
                    <h4 class="mb-3">Biography</h4>
                    <p class="mb-10">
                        @Model.TourGuide.Biography
                    </p>
                    @* <p class="mb-10">
                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                    </p> *@
                </div>
            </div>
            <div class="col-md-5">
                <div class="biography-img">
                    <img src="~/assets/img/team/bio.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- biography & skill end -->